
.App {
  margin:0;box-sizing:border-box;
  font-family: 'Poppins', sans-serif;  
}


.wrapper .title{

  background-color: #a7c0b3;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #02201c, #125212);
}

